<%-include('../partials/userPartials/userCDN.ejs')-%>
<link rel="stylesheet" href="/style.css">
<nav class="home-pagin navbar navbar-expand-lg  position-sticky shadow-lg bg-body rounded">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="/image/BYTE (1).png" style="height: 2; width:100px;" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <!-- Centered search bar -->
      <form class="d-flex mx-auto">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #4f4f4f;"></i></button>
      </form>
      <!-- Right-aligned list items -->
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><i class="fa-solid fa-cart-shopping fa-lg" style="color: #545454;"></i></a>
        </li>
        <%if(user) {%>
            <a href="/logout" style="color: rgb(34, 34, 34);"> <button class="btn btn-outline-dark">login</button></a>
            <%}else{%>
                <a href="/login" style="color: rgb(34, 34, 34);"> <button class="btn btn-outline-dark">login</button></a>
                <%}%>
      </ul>
    </div>
  </div>
</nav>
<body>
    <h1 class="text-center mt-4 mb-4">Shop</h1>
    <section>
        <div class="container">
          <div class="row  shopProducts" id="productsContainer" >
            <% products.forEach(function(product) { %>
            <div class="col-md-6 col-lg-3 col-sm-6 mb-4 equal-width">
              <div class="card tickerTimes">
                <img
                  src="/product-image/<%= product.Images[0] %>"
                  class="card-img-top"
                  style="height: 40vh"
                  alt=""
                />
                <div
                  class="card-body d-flex flex-column justify-content-between"
                  style="height: 30vh"
                >
                  <h6 class="card-title text-center product-name"><%= product.ProductName %></h6>
                  <div class="d-flex flex-column justify-content-center">
                    <% if (product.AvailableQuantity === 0) { %>
                    <div style="background-color: red">
                      <p class="card-text text-center text-light">Out of Stock</p>
                    </div>
                    <% } else { %>
                    <p class="card-text text-center">Price ₹<%= product.ActualPrice %></p>
                    <a
                      href="/product/<%= product._id %>"
                      class="btn btn-primary text-center"
                      >View Details</a
                    >
                    <%}%>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
          
        </div>
      </section>
</body>
<%-include('../partials/userPartials/contentFooter')-%>